* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

img{max-width:100%; height:auto;}
body{background-color:#f1f1f1;color:#333333;margin:0;padding:0;font-size:16px;}
ul{padding:0;margin:0;}
a,li,span{display:inline-block}
a:hover{text-decoration:none;}
a:focus,button:focus{outline:none;}
.color-black{color:#333333;}
.color-blue{color:#4444a0;}
.filters button{width: 40%;
    display: inline-block;
    margin: 0.25rem 0;
    padding: 0.5rem 0;
    background-color: #8aee8a;
    border: none;
    border-radius: 10px;}
.filters button.selected{background-color: #0aae0a;}

.filters .launch-year , .filters .successful-launch, .filters .successful-land{text-align:center;}
.filters .launch-year h3, .filters .successful-launch h3, .filters .successful-land h3{display:inline-block; padding:0 0.5rem;border-bottom:1px solid #dddddd;}
.program-list{display: flex;flex-flow: row wrap;align-items: center;}
[class*="col-"]>div{background-color:#ffffff;border-radius:10px;padding:0.75rem;}

h1{padding:0px 15px;}
h2{margin-top:0px;}

.program{padding:1rem;}
.program img{background:#eaeaea;}
.program h3{margin-top:0.5rem;margin-bottom:1rem;}
.program ul li{display:block;}
.program p {margin:0.5rem 0rem;}

