[class*="col-"] {
  width: 100%;
}
.program-list{width: calc(100%);}
.program-list [class*="col-"]{width:100%;}

@media only screen and (min-width: 1600px) {
		.container{max-width:1440px;margin:0 auto;}
}

@media only screen and (min-width: 700px) {
	.program-list{width: calc(100% - 50%);}
	.program-list [class*="col-"]{width:100%;}
	[class*="col-"] {
	  width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
	.program-list{width: calc(100% - 25%);}
	.program-list [class*="col-"]{width:25%;}
	[class*="col-"] {
	  width: 25%;
	}
}

@media only screen and (min-width: 1440px) {
	.program-list{width: calc(100% - 20%);}
	.program-list [class*="col-"]{width:25%;}
	[class*="col-"] {
	  width: 20%;
	}
}
	